body {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 12px; /* Tambahkan baris ini */
    line-height: 1.25; /* Menambahkan spasi 1.5 */
}

.content {
    margin: 0 auto;
    width: 100%;
}

.content table {
    width: 100%; /* Pastikan tabel menggunakan lebar penuh */
    table-layout: fixed; /* Untuk distribusi lebar kolom yang merata */
}

.content table td {
    vertical-align: top; /* Sejajarkan teks ke atas dalam sel tabel */
}

.thick {
    border-top: 30px solid black;
}

.narrow-spacing {
    margin-top: 5px;
    margin-bottom: 5px;
}

ol {
    padding-left: 20px;
}

p {
    text-indent: 50px;
}

.table-container {
    width: 100%;
    table-layout: fixed;
}
.table-container td {
    width: 50%;
    padding: 10px; /* Tambahkan padding untuk jarak antar gambar */
    text-align: center; /* Gambar berada di tengah kolom */
}
.rounded {
    width: 100%; /* Gambar akan mengambil lebar penuh kolom */
    height: auto; /* Tinggi gambar disesuaikan proporsional */
}

/* Aturan untuk ukuran kertas F4 */
@page {
    size: 210mm 330mm; /* Lebar x Tinggi */
    margin: 10mm 20mm 20mm 20mm; /* Margin semua sisi */
}

.page-break {
    page-break-before: always;
}

/* Opsional: Atur margin konten jika diperlukan */
/* .content {
    padding: 50mm;
} */
